<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="navbar">
  <div>

    <button mat-button routerLink="/home" style="font-size: 20px">
      Airbas Company
    </button>
  </div>
  <div class="spacer">
    <span>
      <button mat-button routerLink="/home">Prova</button>
    </span>
    <span>
      <button mat-button routerLink="/">Prova</button>
    </span>
    <span>
      <button mat-button routerLink="/">Prova</button>
    </span>


  </div>
</mat-toolbar>

