<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="navbar">
  <div>

    <button mat-button routerLink="/home" style="font-size: 20px">
      <i class="fas fa-plane-departure"></i> Airbas
    </button>
  </div>
  <div class="spacer">
    <span>
      <button mat-button routerLink="/home">Home</button>
    </span>
    <span>
      <button mat-button routerLink="/">Offerte</button>
    </span>
    <span>
      <button mat-button routerLink="/">About us</button>
    </span>


    <span *ngIf="dataService.isAuth == false">
      <button mat-raised-button class="loginbtn" routerLink="/login">Login</button>
    </span>
    <span *ngIf="dataService.isAuth == false">
      <button mat-raised-button class="signupbtn" routerLink="/signup">Registrati</button>
    </span>
    <span *ngIf="dataService.isAuth == true">
      <button mat-button>Welcome Francesco</button>
    </span>


  </div>
</mat-toolbar>

