.span{
  padding-right: 1rem;
}

.loginbtn{
  background-color: green;
  color: white;
}

.personal{
  background: white;
  color: blue;
}

.signupbtn{
  background-color: darkgreen;
  color: white;
  margin-left: 10px;
}

button{
  margin: 10px;
}
