.my-container{
  width: 100%;
  max-width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

mat-radio-button{
  vertical-align: text-top;
  margin-right: 45px;
}

.quote-price{
  margin-left: 45px;
  font-size: 16pt;
}

.buttonBuy{
  background-color: aquamarine;
  margin-top: 30px;
  float: right;
}

.buyflight{
  float: right;
}

.loginCard{
  border-radius: 20px;
  padding: 20px 60px;
  margin-top: -22% !important;
  max-height: 500px !important;
}

.next-bottom{
  font-size: 20px;
  margin-top: 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-card {
  max-height: 400px;
  overflow-y: auto;
}

#scroller {
  overflow: auto;
  height: 100px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 3px;
}

.arrow-style{
  height: 15px;
  width: 140px;
}

span {
  display: block;
}

label span:nth-child(2) {
  opacity: 0.6;
  font-size: 0.9em;
}
