.buttonBuy{
  background-color: aquamarine;
  margin-top: 20px;
}

.buyflight{
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.loginCard{
  border-radius: 20px;
  padding: 20px 60px;
}

.next-bottom{
  font-size: 20px;
  margin-top: 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-card {
  max-height: 400px;
  overflow-y: auto;
}

#scroller {
  overflow: auto;
  height: 100px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 3px;
}

.arrow-style{
  height: 15px;
  width: 140px;
}

mat-radio-button{
  margin-right: 20px;
}

span {
  display: block;
}

label span:nth-child(2) {
  opacity: 0.6;
  font-size: 0.9em;
}
