<mat-expansion-panel [(expanded)]="panelOpenState">
  <mat-expansion-panel-header>
    <mat-panel-description>
      {{ flightt.depHours }} - {{ flightt.arrHours }}
    </mat-panel-description>
    <mat-panel-description>
      {{ flightt.name }}
    </mat-panel-description>
    <mat-panel-description>
      Da &nbsp;<b> {{ flightt.departureAirport }} </b>
    </mat-panel-description>

    <mat-panel-description>
      <img src="../../assets/arrow.png" class="arrow-style">
    </mat-panel-description>

    <mat-panel-description>
      A&nbsp;<b>{{ flightt.departureAirport }}</b>
    </mat-panel-description>

    <mat-panel-description>
      Prezzo: {{ flightt.price | currency:'EUR'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-panel-description >
    <!-- <div *ngFor="let in of passengers ;let i = index" > -->
    <mat-form-field appearance="fill">
      <mat-label>Posto a sedere</mat-label>
      <input matInput [(ngModel)]="seat">
    </mat-form-field>
    <button mat-raised-button color="primary" class="confirm-place" (click)="selectSeat(flightt)">Conferma </button>
    <!--</div>-->
  </mat-panel-description>
</mat-expansion-panel>


