.searchEngine{
  border-radius: 20px;
}

.padding{
  margin-right: 30px;
}

.aligns{
  margin-top: 7px;
}

.mycontainer{
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 8% auto 8%;
}
