<div class="row justify-content-center">
  <div class="col-xl-10 searchEngine">

    <form class="bg-white shadow-5-strong p-5 searchEngine" [formGroup]="formSearchEngine">
      <div class="container">

        <div class="row">

          <div class="col"></div>
          <div class="col">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1" class="padding">One way</mat-radio-button>
              <mat-radio-button value="2">Full trip</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col"></div>
        </div>

        <div class="row" style="margin-top: 15px">

          <div class="col">
            <mat-form-field>
              <mat-label>Città di partenza</mat-label>
              <mat-select>
                <mat-option value="one">Milano</mat-option>
                <mat-option value="two">Torino</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field >
            <mat-label>Città di arrivo</mat-label>
            <mat-select>
              <mat-option value="one">Milano</mat-option>
              <mat-option value="two">Torino</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col">
            <mat-form-field >
              <mat-label>Data di partenza</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field>
              <mat-label>Passeggeri</mat-label>
              <input matInput placeholder="1" value="0" type="number">
            </mat-form-field>                      </div>
        </div>
      </div>
      <div class="row" >
        <br>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>
  </div>
</div>
