<div>
  <mat-grid-list cols="1" rowHeight="1:0.4">
        <div class="mask align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8); ">
          <div class="ginput_container_radio">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">
                <div>
                  <span>Base</span>
                  <span>Nessun servizio in aggiunta  </span>
                </div>
              </mat-radio-button>
              <mat-radio-button value="2">
                <div>
                  <span>Advanced</span>
                  <span>Bagaglio da stiva </span>
                  <span>Bibite gratis durante il volo </span>
                </div>
              </mat-radio-button>
              <mat-radio-button value="2">
                <div>
                  <span>Premium</span>
                  <span>Bagaglio da stiva </span>
                  <span>Bibite gratis durante il volo </span>
                  <span>Cibo gratis durante il volo </span>
                  <span>Scegli il tuo posot </span>
                </div>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

  </mat-grid-list>
</div>

